{% extends 'unishop/base.html' %}
{% load static %}
{% block title %}

{% endblock title %}
{% block bodyblock %}
<div class = "hero">
<h1>UniShop</h1>
<h2>One Place For All Local Shops</h2>

{% if not user.is_authenticated %}
<a class = "style-button" href = "/register">Register Now</a>  
{% else %}
    {% if user.profile.is_user %}
        <a  class = "style-button" href = "/shops">Start Shopping</a>
    {% else%}
    <a  class = "style-button" href = "/myshop">Go to Your Shop</a>
    {% endif%}

{% endif %}


</div>
{% endblock bodyblock %}