{% extends 'unishop/base.html' %}

{% block title %}
Your Shop
{% endblock title %}
{% block bodyblock %}
<div class="container">
{% if not user.shop %}
<div class="row align-items-center justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-10">
        <h1>You need to create your shop first</h1>
    </div>
</div>

<div class="row align-items-center justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-10 bg-form">
        <div class="form-warp">
            <form action="/myshop/" method = "POST" class = "form ">
                {{shop_form.as_p}}
                {% csrf_token %}
                <button type = "submit" class = "btn btn-primary">Create Shop</button>
            </form>
        </div>
        
    </div>
</div>

{% else %}

<div class="row align-items-center justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-10 align-items-center justify-content-center">

        <div class="card mb-3 mt-5" style="max-width: 540px;">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{{user.shop.image_name}}" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{user.shop.name}}</h5>
                </div>
              </div>
            </div>
          </div>
        <h2>Products</h2>
    </div>
</div>

<div class="row align-items-center justify-content-center">
    <div class="col-lg-8 col-md-10 col-sm-10">
        <table>
            <tr>
                <th>ID</th>
                <th>Brand</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Delete</th>
            </tr>
            {% for product in user.shop.product_set.all  %}
        
            <tr>
                <td>{{product.id}}</td>
                <td>{{product.brand}}</td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.quantity}}</td>
                <td><a  class ="btn btn-danger" href = "/product/delete/{{product.id}}" >X</a></td>
            </tr>
                
        {% endfor %}
        </table>
    </div>
</div>






<div class="row align-items-center justify-content-center mb-5">
    <div class="col-lg-8 col-md-10 col-sm-10">
        <h4>Add Product</h4>
        <div class="form-warp bg-form ">
            <form action="/product/add/" method = "POST" class="form p-5 round">
                {{product_form.as_p}}
                {%csrf_token%}
                <button type = "submit" class= "btn btn-success"> + </button>
            </form>
        </div>
        
    </div>
</div>


{% endif %}
</div>
{% endblock bodyblock %}
    
