{% extends 'unishop/base.html' %}

{% block title %}
Shops
{% endblock title %}
{% block bodyblock %}


<div class  = "container">
{% if not shops %}

    <h2 class = "mt-5"> Sorry there are no shops in your area </h2>

{% else %}

    <div class="row align-items-center justify-content-center">
        {% for shop in shops  %}
        <div class = "col-md-4 col-lg-3 col-sm-12 mt-5">
                <div class="card" style="width: 18rem;">
                    <img src="{{shop.image_name}}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">{{shop.name}}</p>
                    </div>
                    <a class = "pl-2 pb-3" href = "/shops/{{shop.id}}" >Visit</a>
                  </div>
            
        </div>  
        {% endfor %}
    </div>
{% endif %}
</div>
{% endblock bodyblock %}
    
