/* https://colorhunt.co/palette/225709 */


/* index page */
body{
    background-image:linear-gradient(rgba(243, 232, 232, 0.877),rgba(187, 187, 204, 0.884)),url('/static/unishop/images/bg2.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height:90vh;
}

.hero{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 100px;
}

.hero h1{
    font-size: 500%;
}

.hero h2{
    font-size: 400;
}

.style-button{
    margin:20px;
    border : 2px solid black;
    border-radius: 20%;
    padding : 10px;
    color:white;
    text-decoration: none;
}

.style-button:hover{
    border : 2px solid white;
    background-color : #ffcda3;
    color : black;
}

.card-img{
    width:100%;
    height:auto;
}

/* register form */

.register-div , .bg-table , .bg-form{
    background-color: #ee9595;
}

.form-wrap{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}