{% extends 'shop/base.html' %}

{% block title %}
Your Shop
{% endblock title %}
{% block bodyblock %}

{% if not user.store %}
<h1>You need to create your shop first</h1>

<form action="/myshop/" method = "POST">
    {{store_form.as_p}}
    {% csrf_token %}
    <button type = "submit">Create Shop</button>
</form>
{% else %}
<h1>
{{user.store.name}}
</h1>

<h2>Products</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Brand</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Delete</th>
    </tr>
    {% for product in user.store.product_set.all  %}

    <tr>
        <td>{{product.id}}</td>
        <td>{{product.brand}}</td>
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td><a href = "/product/delete/{{product.id}}" >X</a></td>
    </tr>
        
{% endfor %}
</table>

<h4>Add Product</h4>

<form action="/product/add/" method = "POST">
    {{product_form}}
    {%csrf_token%}
    <button type = "submit">Add</button>
</form>
{% endif %}
{% endblock bodyblock %}
    
